@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#body {
  font-family: 'Roboto', sans-serif;
  color: #373867;
}
#header {
  z-index: 1000;
}
#header h1 {
  font-weight: 700;
  font-size: 300%;
  background-color: #AACE9B;
  position: fixed;
  text-align: right;
  height: 7.6%;
  right: 0px;
  width: 100%;
}
#header p {
  font-weight: 700;
  font-size: 25,5px;
  color: #69A362;
  position: fixed;
  text-align: right;
  top: 54px;
  right: 3px;
}
/* SIDEBAR */
.sidebar {
  font-weight: 400;
  font-size: 25,5px;
  position: fixed;
  border-left:50px;
  top: 7.5%;
  height: 100%;
  background-color: #373867;
  width:10%;
  box-shadow: 0px 5px 10px rgb(77, 76, 76);
  border-radius: 0px 10px 0px 10px;
  z-index: 10;
}
.sidebar-buttons li {
  margin: 40px 10px 10px 10px;
  display: block;
  color:white;
  font-size: 20px;
  background-color: #AACE9B;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 10px;
}
.ul-buttons a {
  color:#373867;
  text-decoration:none;
}
.sidebar-contact a {
  color: white;
  text-decoration:none;
}
.sidebar-contact {
  color: white;
  display: block;
}
.sidebar-contact h2 {
 position: absolute;
 top: 47%;
 font-size: 20px;
 left: 6%;
}
.sidebar-contact p {
  position:absolute;
  font-size: 12px;
  top: 50%;
  left: 6%;
  right: 6%;
}
.sidebar li {
  text-align: center;
}
.li-email {
  position: absolute;
  bottom: 30%;
  left: 3%;
  right: 3%;
}
.img-email {
  display: block;
  margin: auto;
  
}
.li-tel {
  position: absolute;
  bottom: 200px;
  font-size: 15px;
  left: 15px;
  right: 15px;
}
.img-phone {
  display: block;
  margin:auto;
}
.li-adress {
  position: absolute;
  bottom: 100px;
  font-size: 15px;
}
.img-house {
  display: block;
  margin: auto;
}
/* Welcome */
#article-welcome {
  position:sticky;
  top: 11%;
  margin-left: 12%;
  width: 70%; 
  z-index: -1;
}
#article-welcome h2 {
  font-weight: 700;
  font-size: 70px;
}
#article-welcome h3 {
  font-weight: 700;
  font-size: 250%;
  margin-top: 2%;
}
#article-welcome p {
  display: block;
  font-weight: 400;
  font-size: 150%;
  text-align: center;
  box-sizing: content-box;
  margin-top: 10%;
  width: 40%;
  height: 50%;
  padding: 5px;
}
.img-resourceh {
  position:absolute;
  left: 50%;
  top: 30%;
  height: 110%;
  width: 60%;
}
.div-bar-1 {
  position: relative;
  top: 250px;
  left: 25.8%;
  width: 100%;
  height: 12px;
  background-color:#AACE9B;
}
.section-features {
  display: inline-block;
  margin-left: 15%;
  margin-top: 47%;
  z-index: -5;  
}
.section-features h2 {
  position: relative;
  float: left;
}
.div-1 h2 {
  position: relative;
  font-weight: 700;
  font-size: 300%;
  z-index: -5;
}
.section-features div {
  display: inline-block;
  width: 600px;
  text-align: center;
}
.section-features h3 {
  font-weight: 700;
  font-size: 250%;
  text-transform: uppercase;
}
.div-1 h3 {
  position: relative;
  left: 25%;
  margin-top: 20%;
  z-index: -10;
}
.div-1 p {
  display: inline-block;
  width: 50%;
  margin-top: 9.6%;
  line-height: 150%;
}
.div-1 img {
  position: relative;
  top: 10%;
  left: ;
  width: 50%;
  float:left;
  z-index: -10;
}
.resource-f h3 {
  position: relative;
  left: 362px;
  top: -31px;
  margin-bottom: 5%;
  z-index: -10;
}
.resource-f img {
  position: relative;
  height: 50%;
  width: 50%;
  left: 19%;
  top: 28%;
  margin-top: -14%;
  float: left;
  z-index: -10;
}
.reports-f img {
  position: relative;
  width: 50%;
  text-align: center;
  z-index: -10;
}
.resource-f p {
  position: relative;
  width: 50%;
  top: 1px;
  line-height: 150%;
  left: 521px;
  z-index: -10;
}
.reports-f h3 {
  position: relative;
  left: 25%;
  top: 30%;
  z-index: -10;
}
.reports-f p {
  position: relative;
  left: 301px;
  width: 50%;
  margin-top: 9.6%;
  line-height: 150%;

}
.reports-f img {
  position: relative;
  top: -194px;
  right: -46px;
  width: 38%;
  float:left;
}
.multiple-f img {
  position: relative;
  top: -171px;
  left: 103px;
  width: 65%;
  float:left;
  z-index: -10;
}
.multiple-f p {
  position: relative;
  width: 50%;
  left: 524px;
  right: 10px;
  line-height: 150%;
  z-index: -10;
}
.multiple-f h3 {
  position: relative;
  width: 55%;
  left: 84%;
  top: -60px;
  z-index: -10;
}

/* SKILLS */

.skills {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  width: 200%;
}
.skills h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 200%;
}
#form {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  width: 200%;
}
.history {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  width: 200%;
}
.section-pages {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  width: 200%;
}
#footer {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  width: 200%;
}