#fieldsetsignup {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.377);
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 150px;
    padding: 30px;
}
#fieldset-signup div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#fieldset-signup p {
    font-weight: 400;
    color: red;
}
#fieldset-signup label{
    text-align:left;
    color: #373867;
}
#buttonC button{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 50%;

}
.form-exit {
    display: none;
}
.form-input {
    border: 1px solid gray;
    transition: .3s ease all;
    border-radius: 3px;
    height: 20px;
}
.form-input:focus {
    border: 2px solid #0075FF;
    outline: none;
}
.errorMessage {
    display: none;
    font-size: 12px;
}

/*Validation*/
.form-correct-group .form-validation-status {
	color: #1ed12d;
	opacity: 1;
}

.form-incorrect-group .form-label {
	color: #bb2929;
}

.form-incorrect-group .form-validation-status {
	color: #bb2929;
	opacity: 1;
}

.form-incorrect-group .form-input {
	border: 3px solid #bb2929;
}
.form-msj-active-exit {
	display: block;
}