#fieldsetsignup {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.377);
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    margin: 150px;
    height: ;
    padding: 30px;
}
#fieldset-signup div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#fieldset-signup p {
    font-weight: 400;
    color: red;
}
.form-input {
    border: 1px solid gray;
    transition: .3s ease all;
    border-radius: 3px;
    height: 20px;
}
.form-input:focus {
    border: 2px solid #0075FF;
    outline: none;
}
.errorMessage {
    display: none;
    font-size: 12px;
}