<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix S.A</title>
        <link rel="icon" type="image/x-icon" href="../Assets/favicon.ico">
        <link rel="stylesheet" href="/Styles/reset.css">
        <link rel="stylesheet" href="/Styles/style.css">
        <link id="template-file" href="/Views/employee-signup.html" rel="import"/>
        <link id="template-file" href="/Views/login.html" rel="import"/> 
    </head>
    <body>
        <header>
            <div id="logo-track">
                <h1>Trackgenix</h1>       
                <p>
                    We're Trackgenix S.A
                </p>
            </div>
            <div id="menu-icon">
                <img src="/Assets/icons8-menu-64.png" alt="">
            </div> 
        </header>
        
        <div id="div-aside-main">
            <aside id="sidebar">
                <div id="icons-sid">
                    <div>
                        <ul id="icon-house">
                            <li><img src="/Assets/house.png" alt="homeicon"><a href="#"></a></li>
                        </ul>
                    </div>
                        
                    <div>
                        <ul id="icon-signup">
                            <li><img src="/Assets/signup.png" alt="signup"><a href="#"></a></li>
                        </ul>
                    </div>
                        
                    <div>
                        <ul id="icon-msj">
                            <li><img src="/Assets/msj.png" alt="houseicon"><a href="#"></a></li>
                        </ul>
                    </div>
                        
                    <div>
                        <ul id="icon-tel">
                            <li><img src="/Assets/tel.png" alt="houseicon"><a href="#"></a></li>
                        </ul>
                    </div>

                    <div>
                        <ul id="icon-location">
                            <li><img src="/Assets/location.png" alt="houseicon"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div id="buttons">
                    <ul id="ul-buttons">
                        <li><a href="../Views/landing.html">Home</a></li>
                        <li><a href="../Views/employee-signup.html">Sing Up</a></li>
                        <li><a href="../Views/login.html">Log In</a></li>
                    </ul>
                </div>
                <div id="sidebar-contact">
                    <h2>Contact</h2>
                        <p>
                            Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas.
                        </p>
                    <ul id="sidebar-icons">
                        <li><img src="/Assets/email.png" alt="emailIcon" class="img-email"><a href="#">Information@untitled.tld</a></li>
                        <li><img src="/Assets/phone.png" alt="iconPhone" class="img-phone"><a href="#">Tel: (000) 000-0000</a></li>
                        <li><img src="/Assets/house.png" alt="houseIcon" class="img-house"><a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a></li>
                    </ul>
                </div>
            </aside>

            <main id="main">
                <section id="article-welcome">
                    <div class="h2h3p">
                        <div class="titless">
                            <h2>Welcome to Trackgenix</h2>
                            <h3>The new work system</h3>
                        </div>
                        <div id="imgp">
                            <img src="/Assets/imagenderecursoshumanos.png" alt="ImgHumanResource" class="img-resourceh">
                            <p>
                                Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.
                            </p>
                        </div>
                    </div>
                </section>

                <div id="div-bar-1"></div>

                <section id="section-features">
                    <h2>Features</h2>
                    <div id="div-features">
                        <div id="hours-reports">
                            <div id="records">
                                <h3>Record of Hours</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <div id="img-hours">
                                <img src="/Assets/imagenreloj.webp" alt="img-watch">
                            </div>
                        </div>

                        <div id="resource">
                            <div id="resource-mng">
                                <h3>Resource Management</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <div id="img-resource">
                                <img src="/Assets/gestionderecursosimagen.jpg" alt="ImgGestionResource">
                            </div>
                        </div>

                        <div id="reports">
                            <div>
                                <h3>Reports</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <div id="img-reports">
                                <img src="/Assets/imagenreporte.png" alt="ImgMultipleRoles">
                            </div>
                        </div>

                        <div id="roles">
                            <div>
                                <h3>Multiple Roles</h3>
                                <p>
                                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                                </p>
                            </div>
                            <div id="img-roles">
                                <img src="/Assets/imagenmultiplesroles.webp" alt="ImgMultipleRoles">
                            </div>
                        </div>
                    </div>    
                </section>

                <div id="div-bar-1"></div>

                <section id="skills">
                    <div>
                        <h2>Productivity Booster</h2>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                    <div>
                        <h2>Work Traceability</h2>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                    <div>
                        <h2>Leadership and Team Management</h2>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                    <div>
                        <h2>Decision Making</h2>
                        <p>
                            Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                        </p>
                    </div>
                </section>

                <div id="div-bar-1"></div>

                <section>
                    <form id="form">
                        <h2>Information</h2>
                        <fieldset id="fieldset-info-form">
                            <label class="title"> Name & Last Name</label>
                            <input class="input-area" type="text" name="full-name" placeholder="Your Name">
                            <label class="title" for="email">Email</label>
                            <input class="input-area" type="email" id="email" name="email" placeholder="your@email.com">
                        </fieldset>

                        <fieldset id="contact-form">
                            <legend>Contact</legend>
                            <input type="checkbox" name="contact" value="human-resources">
                            <label for="human-resources">Human Resources</label>
                            <input type="checkbox" name="contact" id="sistems" value="sistems">
                            <label for="sistems">Systems</label>
                            <input type="checkbox" name="contact" value="comercialization">
                            <label for="comercialization">Commercialization</label>
                            <label for="message-clients">Message</label>
                            <textarea class="input-area" name="message-clients" rows="4" cols="50"></textarea>
                        </fieldset>
                        <input id="input" type="submit" value="Submit">
                    </form>
                </section>

                <!-- <div id="div-bar-1"> -->

                <section id="history">
                    <h2>Our History</h2>
                    <h3>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.</h3>
                    <p>
                        Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    </p>
                    <p>
                        Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    </p>
                    <p>
                        Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    </p>
                </section>

                <!-- <div id="div-bar-1"> -->

                <section id="section-pages">
                    <div class="products">
                        <h2>Products</h2>
                        <ul>
                            <li><a href="#">Functionalities</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Integrations</a></li>
                            <li><a href="#">Extras</a></li>
                        </ul>
                    </div>
                    <div class="company">    
                        <h2>Company</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="support">
                        <h2>Support</h2>
                        <ul>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </section>
                <footer id="footer">
                    <p>
                        Rosario, Santa Fe - Argentina
                    </p>
                    <p>
                        Copyright 2022 Trackgenix S.A. All Rights Reserved.
                    </p>
                </footer>
            </main>
        </div>
    </body>
</html>