<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix - Sign Up</title>
        <link rel="icon" type="image/x-icon" href="../Assets/favicon.ico">
        <link rel="stylesheet" href="/Styles/reset.css">
        <link rel="stylesheet" href="/Styles/style.css">
        <script src="/Javascript/signup.js"></script>
    </head>
    <body>
        <header>
            <div id="logo-track">
                <h1>Trackgenix</h1>       
                <p>
                    We're Trackgenix S.A
                </p>
            </div>
            <div id="menu-icon">
                <img src="/Assets/icons8-menu-64.png" alt="">
            </div> 
        </header>

        <main>
            <section>
                <form>
                    <div id="fieldsetsignup">
                        <h2>SIGN UP</h2>
                        <fieldset id="fieldset-signup">
                            <div id="">
                                <label>Name</label>
                                <input class="namearea" type="text" name="namearea" placeholder="Your Name">
                            </div>
                            <div>
                                <label>Last name</label>
                                <input class="lastnamearea" type="text" placeholder="Your last name">
                            </div>
                            <div>
                                <label>Identity Number</label>
                                <input class="lastnamearea" type="number" placeholder="Your ID number">
                            </div>
                            <div>
                                <label>Date Birth</label>
                                <input class="lastnamearea" type="date" placeholder="Your Birthday">
                            </div>
                            <div>
                                <label>Phone Number</label>
                                <input class="lastnamearea" type="tel" placeholder="(+54)-9-34123456">
                            </div>
                            <div>
                                <label>Adress</label>
                                <input class="lastnamearea" type="text" placeholder="Your adress">
                            </div>
                            <div>
                                <label>Location</label>
                                <input class="lastnamearea" type="text" placeholder="Your location">
                            </div>
                            <div>
                                <label>Postal Code</label>
                                <input class="lastnamearea" type="text" placeholder="Your postal code">
                            </div>
                            <div>
                                <label>Email</label>
                                <input class="lastnamearea" type="email" placeholder="your@email.com">
                            </div>
                            <div>
                                <label>Password</label>
                                <input class="lastnamearea" type="password" placeholder="Your password">
                            </div>
                            <div>
                                <label>Repeat Password</label>
                                <input class="lastnamearea" type="password" placeholder="Repeat password">
                            </div>
                        </fieldset>
                        <input id="input-signup" type="submit" value="Submit">
                    </div>
                </form>
            </section>
            <footer id="footer">
                <p>
                    Rosario, Santa Fe - Argentina
                </p>
                <p>
                    Copyright 2022 Trackgenix S.A. All Rights Reserved.
                </p>
            </footer>
        </main>
    </body>
</html>