<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix - Sign Up</title>
        <link rel="icon" type="image/x-icon" href="../Assets/favicon.ico">
        <link rel="stylesheet" href="/Styles/reset.css">
        <link rel="stylesheet" href="/Styles/style.css">
        <script src="/Javascript/employee-signup.js"></script>
    </head>
    <body>
        <header>
            <div id="logo-track">
                <h1>Trackgenix</h1>       
                <p>
                    We're Trackgenix S.A
                </p>
            </div>
            <div id="menu-icon">
                <img src="/Assets/icons8-menu-64.png" alt="">
            </div> 
        </header>

        <main>
            <section>
                <form id="form">
                    <div id="fieldsetsignup">
                        <h2>SIGN UP</h2>
                        <fieldset id="fieldset-signup">

                            <div class="form-group" id="name-form">
                                <label for="name" class="form-label">Name</label>
                                <input class="form-input" id="name" type="text" name="name" placeholder="Your Name">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="lastname-form">
                                <label for="last-name" class="form-label">Last name</label>
                                <input class="form-input" id="last-name" type="text" name="last-name" placeholder="Your last name">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="idNumber-form">
                                <label for="id-number" class="form-label">Identity Number</label>
                                <input class="form-input" id="id-number"type="number" name="id-number" placeholder="Your ID number">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="date-form">
                                <label for="date" class="form-label">Date Birth</label>
                                <input class="form-input" id="date" type="date" name="date" placeholder="Your Birthday">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="phone-form">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input class="form-input" id="phone" type="tel" name="phone" placeholder="(+54)-9-34123456">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="adress-form">
                                <label for="adress" class="form-label">Adress</label>
                                <input class="form-input" id="adress" type="text" name="adress" placeholder="Your adress">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="location-form">
                                <label for="location" class="form-label">Location</label>
                                <input class="form-input" id="location" type="text" name="location" placeholder="Your location">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="postal-form">
                                <label for="postalCode" class="form-label">Postal Code</label>
                                <input class="form-input" id="postalCode" type="text" name="postalCode" placeholder="Your postal code">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="email-form">
                                <label for="email" class="form-label">Email</label>
                                <input class="form-input" id="email" type="email" name="email" placeholder="your@email.com">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="password-form"><div>
                                <label for="password" class="form-label">Password</label>
                                <input class="form-input" id="password" type="password" name="password" placeholder="Your password">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                            <div class="form-group" id="repeatPass-form">
                                <label for="repeatPass" class="form-label">Repeat Password</label>
                                <input class="form-input" id="repeatPass" type="password" name="repeatPass" placeholder="Repeat password">
                                <p class="errorMessage">Este es un mensaje</p>
                            </div>

                        </fieldset>
                        <div id="buttonC">
                            <button type="submit" class="form-btn">Confirm</button>
                            <p class="form-exit" id="form-exit">Este es un mensaje</p>
                        </div>
                    </div>
                </form>
            </section>
            <footer id="footer">
                <p>
                    Rosario, Santa Fe - Argentina
                </p>
                <p>
                    Copyright 2022 Trackgenix S.A. All Rights Reserved.
                </p>
            </footer>
        </main>
    </body>
</html>