#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    background-color: #AACE9B;
    color: #373867;
}
#footer p {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}