/* #div-header {
    display: flex;
    border: 2px solid crimson;
} */
header {
    font-weight: 700;
    font-size: 25px;
    background-color: #AACE9B;
    color: #373867;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}
header h1 {
    align-items: flex-end;
    font-size: 40px;
}
header p {
    font-size: 15px;
    color: #69A362;
    padding: 2px;

}
header img {
    width: 10%;
    align-self:flex-start;
    /* background-color: aqua; */
}
header div{
    border: 2px solid crimson;
    align-self: flex-end;
}
/*header div:nth-child(1) {
    align-items: flex-end;
}*/