#main section { 
    background-color:aqua;
    font-weight: 400;
    color: #373867;
    border: 2px solid yellow;
}


/* WELCOME */


#article-welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#article-welcome h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;

    border: 2px solid crimson;
}
#article-welcome h3 {
    text-align: center;
    font-weight: 700;
}
#article-welcome p {
    padding: 10%;
    text-align: center;
}
#article-welcome img {
    width: 50%;
    border: 2px solid crimson;
}
#div-bar-1 {
    width: 100%;
    height: 5px;
    background-color: chocolate;
}


/* FEATURES */


#section-features {
    border: 2px solid red;
}
#section-features h2 {
    font-weight: 700;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 5%;
    text-align: center;
}
#div-features {
    display: flex;
    flex-direction: column;
}
#div-features h3 {
    font-weight: 700;
}
#div-features img {
    width: 20%;
}
#hours {
    flex-direction: column;
}
/* #div-features div {
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#div-features h3 {
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
}
#div-features img {
    width: 50%;
}
#div-features p {
    font-size: 10px;
    align-items: center;
}
#div-bar-2 {
    width: 100%;
    height: 5px;
    background-color: chocolate;
} */


/* SKILLS */


#skills div {
    border: 1px solid #373867;
    box-sizing: border-box;
    padding: 10px;
}
#skills h2 {
    font-weight: 700;
}
#form {
    padding: 10%;
}
#form legend {
    font-weight: 700;
}


/* HISTORY */


#history h2 {
    font-weight: 700;
}
#history h3 {
    font-weight: 700;
    font-size: 90%;
}
#history p {
    padding: 3%;
    font-size: 80%;
}

/* LINK PAGES */

#section-pages 
.products h2 {
    font-weight: 700;
    background-color:crimson;
}
.company h2 {
    font-weight: 700;
    background-color: crimson;
}
.support h2 {
    font-weight: 700;
    background-color: crimson;
}