@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "header.css";
@import "sidebar.css";
@import "main.css";
@import "footer.css";

#div-aside-main {
    display: flex;
}
body {
    font-family:  'Roboto', sans-serif;
    font-weight: 700;
    font-size: %;
}
